model/training_data/TG-1/segment_1.wav
model/training_data/TG-1/segment_2.wav
model/training_data/TG-1/segment_3.wav
model/training_data/TG-1/segment_4.wav
model/training_data/TG-1/segment_5.wav
model/Lord_1_last_hour.m4a
Gurupurnima_audio.m4a
Krishna-2-output_audio_segment_files/
Swami_audio.m4a
Gurupurnima_audio_output_audio_segment_files/
Gurupurnima_audio_output_audio_segment_files_srt/
model/Swami_DJ_audio_output_audio_segment_files/
model/Swami_DJ_audio